@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://unpkg.com/@fortawesome/fontawesome-free@5.15.4/css/all.min.css');
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

* {
    font-family: Roboto;
}

html, body {
    height: 100%;
    margin: 0;
}



a, button {
    font-size: 20px;
    border: 0px;
    background: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out; 
} 
a, button:hover { 
    transform: scale(1.1); 
}

.snowflake {
  position: fixed;
  background-color: #CCC;
  user-select: none;
  z-index: 1000;
  pointer-events: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:100,200,300,400,500,600,700,800,900');

html {
    scroll-behavior: smooth;
}



.btn{
  font-family: "roboto", sans-serif;
  font-size: 18px;
  font-weight: bold;
  background: #1670ca;
  width: 150px;
  padding:20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3;
  -webkit-transition-property:box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btn:hover, .btn:focus, .btn:active{
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform:: scale(1.1);
  transform: scale(1.1);
}

body {
    background-image: url('../assets/Bg.gif');
    font-family: 'Ubuntu', sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

body {
   background-image: url('../assest/Bg.gif');
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fa-magnifying-glass {
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.logo {
    width: 150px;
}

.logo-wrapper .text {
    font-size: 75px;
    font-family: "Roboto";
    color: #FFF;
}

.logo-wrapper h1 {
    color: white;
}

footer {
    margin-top: auto;
    width: 93%;
    align-self: center;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer a,
footer span {
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
}

footer a {
    cursor: pointer;
}

footer a:hover {
    text-decoration: underline;
}

form {
    display: flex;
    justify-content: center;
}

.desc {
    display: flex;
    justify-content: center;
}

.desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
}

form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
}

form input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

button1 {
  background: #2b9c8f;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-family: 'Lato';
  margin: 5px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

button1:hover {
  background: #1f6f66;
}

